*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  
}

body {
  font-family: " Georgia, Times, Times New Roman, serif";
  font-size: 16px;
}

.header-img {
  background: url("person.jpg"),
    linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  max-width: 1500px;
  height: 50vh;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "IM Fell French Canon SC", serif;
  word-break: break-word;
}

h1 {
  padding: 10px 0px 30px 0px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  font-size: 18px;
}

.container-content {
  max-width: 1200px;
  width: 100%;
  size: cover;
  background: linear-gradient(150deg, #ffffff 20%, #eebc9b 70%);
  padding: 20px 20px 40px 20px;
  margin: 0 auto;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto;
}

.create-task {
  background-color: #2d2f2e;
  border-radius: 10px;
  padding: 30px 65px 30px 65px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.create-task-data {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.create-task-data label {
  display: block;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.create-task-data input {
  height: 40px;
  width: 300px;
  margin-top: 6px;
  font-size: 14px;
}

select {
  width: 200px;
  height: 40px;
  margin-top: 6px;
  margin-bottom: 20px;
}
.schedule {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  justify-content: end;
}

button {
  background-color: white;
  margin-bottom: 10px;
  height: 36px;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 7px;
  border: 1px solid white;
  outline: none;
}
button:hover {
  cursor: pointer;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  text-align: center;
  position: relative;
  height: 150px;
  width: 150px;
  top: 15px;
  left: 15px;
  cursor: pointer;
  background-color: white;
  border: 6px solid #f53232;
  border-radius: 20px;
}

.fill p {
  word-break: break-word;
  color: black;
}

.empty {
  height: 180px;
  width: 180px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: white;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(145, 142, 145, 1);
  -moz-box-shadow: 0px 0px 4px 0px rgba(145, 142, 145, 1);
  box-shadow: 0px 0px 4px 0px rgba(145, 142, 145, 1);
  border-radius: 5px;
}
.emptytask {
  height: 180px;
  width: 180px;
  margin-top: 15px;
  background: white;
  margin: 0 auto;
  margin-top: 25px;

  border-radius: 5px;
}

.create-task-select-important {
  margin-top: 16px;
}

.selectList,
option {
  height: 30px;
  font-size: 15px;
}

.urgent-important {
  width: 20px;
  height: 20px;
  background-color: #f53232;
  display: inline-block;
  border-radius: 10px;
}

.not-urgent-important {
  width: 20px;
  height: 20px;
  background-color: #f3b43e;
  display: inline-block;
  border-radius: 10px;
}

.urgent-unimportant {
  width: 20px;
  height: 20px;
  background-color: #ffff2c;
  display: inline-block;
  border-radius: 10px;
}

.not-urgent-unimportant {
  width: 20px;
  height: 20px;
  background-color: #19a019;
  display: inline-block;
  border-radius: 10px;
}

.legend_item-header {
  color: white;
  margin-left: 10px;
  position: absolute;
}

.legend_item {
  margin-bottom: 5px;
  position: relative;
}

.done {
  text-decoration: line-through;
}

.button-remove,
.button-done {
  width: 80px;
  height: 30px;
  text-transform: uppercase;
  font-size: 11px;
  background-color: white;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(145, 142, 145, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(145, 142, 145, 1);
  box-shadow: 0px 0px 5px 0px rgba(145, 142, 145, 1);
  outline:none
}
.button-remove {
  margin-left: 20px;
}

@media (max-width: 1120px) {
  .container-content {
    padding: 20px 5px 20px 5px;
  }

  .create-task {
    padding: 30px 30px 30px 30px;
  }
}

@media (max-width: 1000px) {
  .container-content {
    padding: 20px 1px 20px 1px;
  }

  .create-task {
    padding: 30px 15px 30px 15px;
  }
}

@media (max-width: 970px) {
  button {
    grid-area: button;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .legend {
    grid-area: legend;
    margin-top: 10px;
    padding-left: 85px;
    margin-left: 50px;
  }

  .create-task-select-important {
    grid-area: select;
    padding-left: 85px;
    margin-left: 50px;
  }

  h1 {
    grid-area: header;
  }

  .input {
    grid-area: input;
    padding-left: 85px;
    margin-left: 50px;
    margin-bottom: 5px;
  }
  .container-content {
    grid-template-columns: auto;
  }
  .create-task {
    height: 550px;
    margin-bottom: 30px;
  }

  .create-task-data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    grid-template-areas:
      "header header"
      "button button"
      "input ."
      "legend ."
      "select .";
  }
  .create-task-data input {
    height: 40px;
    width: 250px;
    margin-right: 100px;
  }

  .emptytask {
    position: relative;
    left: 150px;
    bottom: 250px;
  }
  .schedule {
    grid-gap: 20px;
    justify-content: center;
    margin: 0 auto;
  }
}

@media (max-width: 850px) {
  .legend {
    padding-left: 65px;
    margin-left: 50px;
  }

  .create-task-select-important {
    padding-left: 65px;
    margin-left: 50px;
  }

  .input {
    padding-left: 65px;
    margin-left: 50px;
  }
}

@media (max-width: 750px) {
  .legend {
    padding-left: 25px;
  }

  .create-task-select-important {
    padding-left: 25px;
  }

  .input {
    padding-left: 25px;
  }
  .header-img {
    font-size: 33px;
  }
}

@media (max-width: 625px) {
  .schedule {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    justify-content: end;
  }
  .legend {
    padding-left: 10px;
  }

  .create-task-select-important {
    padding-left: 10px;
  }

  .input {
    padding-left: 10px;
  }
  .create-task-data input {
    width: 200px;
  }
  .button-remove,
  .button-done {
    margin-bottom: 10px;
  }
  .header-img {
    font-size: 29px;
  }
}

@media (max-width: 510px) {
  .schedule {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    justify-content: end;
  }

  .emptytask {
    position: relative;
    left: 0;
    bottom: 0;
  }

  .legend {
    padding-left: 0px;
    margin-left: 0px;
  }

  .create-task-select-important {
    padding-left: 0px;
    margin-left: 0;
  }
  .create-task-select-important label {
    text-align: center;
  }

  select {
    width: 100%;
  }

  .input label {
    text-align: center;
  }

  .input {
    margin-left: 0px;
    padding-left: 0px;
  }
  .create-task-data input {
    width: 100%;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .create-task {
    height: auto;
    width: 95vw;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .create-task-data {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .header-img {
    font-size: 26px;
    padding: 30px;
    line-height: 35px;
    height: 60vh;
  }
}

@media (max-width: 430px) {
  .schedule {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
    justify-content: center;
  }
}
